/* *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */
table{
    /* border: 1px solid   ; */
    border-collapse: collapse;
    margin: auto;
    width: 60%;
    border-radius: 10px;
    text-align: left;
}

thead{
    background-color: blueviolet;
}
.head:hover{
    background-color: blueviolet;
}
th,td{
    /* border: 1px solid; */
    /* border-collapse: collapse; */
    padding: 10px 20px;
}
tr:hover{
    background-color: aqua;
}